###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact'
# template which is defined elsewhere.

define contact{
            contact_name        nagiosadmin		; Short name of user
            use                 generic-contact		; Inherit default values from generic-contact template (defined above)
            alias               Nagios Admin		; Full name of user
            email               ${NAGIOS_ADMIN_EMAIL}
        }

#openHIM
define contact {
            contact_name        AdminOpenHim
          	use				          generic-contact
          	alias				        OpenHim admin
          	email				        ${OPEN_HIM_ADMIN_EMAIL}
        }

#openHIM console
define contact {
            contact_name        AdminOpenHimConsole
          	use				          generic-contact
          	alias				        OpenHim console admin
          	email				        ${OPEN_HIM_CONSOLE_ADMIN_EMAIL}
        }

#openSHR
define contact {
            contact_name        AdminOpenShr
          	use				          generic-contact
          	alias				        OpenShr admin
          	email				        ${OPEN_SHR_ADMIN_EMAIL}
        }

#openDHIS
define contact {
            contact_name        AdminOpenDhis
          	use				          generic-contact
          	alias				        OpenDhis2 admin
          	email				        ${OPEN_DHIS2_ADMIN_EMAIL}
        }

#openEMPI
define contact {
            contact_name        AdminOpenEmpi
          	use				          generic-contact
          	alias				        OpenEmpi admin
          	email				        ${OPEN_EMPI_ADMIN_EMAIL}
        }

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin
        }

#openHIM
define contactgroup {
        contactgroup_name       OpenHimContacts
        alias                   OpenHim contacts
        members                 AdminOpenHim
}

#openHIM console
define contactgroup {
        contactgroup_name       OpenHimConsoleContacts
        alias                   OpenHim console contacts
        members                 AdminOpenHimConsole
}

#openSHR
define contactgroup {
        contactgroup_name       OpenShrContacts
        alias                   OpenShr contacts
        members                 AdminOpenShr
}

#openDHIS
define contactgroup {
        contactgroup_name       OpenDhisContacts
        alias                   OpenDhis2 contacts
        members                 AdminOpenShr
}

#openEMPI
define contactgroup {
        contactgroup_name       OpenEmpiContacts
        alias                   OpenEmpi contacts
        members                 AdminOpenEmpi
}
